*{
	transition: all 0.5s cubic-bezier(0.36, 0, 0.66, -0.56) !important;
	font-family: lexend-deca !important;
}
html, body {
 margin: 0;
 padding: 0;
}
body.ui-mobile-viewport {
 overflow-y: auto !important;
}
.ui-page.ui-page-active {
 overflow-y: auto !important;
 min-height: 100vh !important;
 -webkit-overflow-scrolling: touch !important; 
}
@font-face {
	font-family: lexend-deca;
	src: url("assets/LexendDeca-Regular.ttf");
}
/* Evita que el footer salte o se oculte en modo edición */
.ui-footer-fixed {
    bottom: 0 !important;
    position: fixed !important;
    display: block !important;
}

.ui-state-highlight {
    height: 80px; /* Altura promedio de un widget */
    background: rgba(0,0,0,0.05) !important;
    border: 2px dashed #ccc !important;
    margin: 5px 0;
    list-style: none;
    visibility: visible !important;
}
li {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
ul{
	padding: 5px;
}
.full{
	min-height: 100vh !important;
}
.barui {
	display: flex !important;
	flex: 1;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.setui {
	display: flex !important;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.flowui {
	display: flex !important;
	flex: 1;
	flex-direction: row;
	align-items: center;
	justify-content: start;
}
.widui {
	display: flex !important;
	flex: 1;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
}
.squircle {
	border-radius: 2em ;
	corner-shape: squircle !important;
}
.edit-btn{
	border: 2px solid transparent !important;
	background: linear-gradient(#000, #444) padding-box, linear-gradient(90deg, #444, #222) border-box !important;
	color: #fff;
}
.edit-btn:hover{
	border: 2px solid transparent !important;
	background: linear-gradient(#222, #444) padding-box, linear-gradient(90deg, #000, #222) border-box !important;
	color: #fff;
}

.widget{
	display: flex!important;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
/*iconos*/
.ui-icon-nota {
	background-image: url("assets/Nota.svg");
	background-size: 18px 18px;
}
.ui-icon-calen {
	background-image: url("assets/Calen.svg");
	background-size: 18px 18px;
}
.ui-icon-view {
	background-image: url("assets/View.svg");
	background-size: 18px 18px;
}
.ui-icon-save {
	background-image: url("assets/Save.svg");
	background-size: 18px 18px;
}
.ui-icon-folder {
	background-image: url("assets/Folder.svg");
	background-size: 18px 18px;
}
.ui-icon-share {
	background-image: url("assets/Share.svg");
	background-size: 18px 18px;
}
