*{
	transition: 0.3s all ease-in !important;
}
html, body {
 margin: 0;
 padding: 0;
}
canvas {
 display: block;
}
body.ui-mobile-viewport {
 overflow-y: auto !important;
}
.ui-page.ui-page-active {
 overflow-y: auto !important;
 min-height: 100vh !important;
 -webkit-overflow-scrolling: touch !important; 
}
.barui {
	display: flex !important;
	flex: 1;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.setui {
	display: flex !important;
	flex: 1;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.squircle{
	border-radius: 1.75em !important;
	corner-shape: squircle !important;
}
.edit-btn{
	border: 2px solid transparent !important;
	background: linear-gradient(#000, #444) padding-box, linear-gradient(90deg, #444, #222) border-box !important;
	color: #fff;
}
.edit-btn:hover{
	border: 2px solid transparent !important;
	background: linear-gradient(#222, #444) padding-box, linear-gradient(90deg, #000, #222) border-box !important;
	color: #fff;
}
.edit-content{
	padding: 1em !important;
}
.widget{
	display: flex!important;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
/*iconos*/
.ui-icon-nota {
	background-image: url("assets/Nota.svg");
	background-size: 18px 18px;
}
.ui-icon-calen {
	background-image: url("assets/Calen.svg");
	background-size: 18px 18px;
}
.ui-icon-view {
	background-image: url("assets/View.svg");
	background-size: 18px 18px;
}
.ui-icon-save {
	background-image: url("assets/Save.svg");
	background-size: 18px 18px;
}